.testimonial-slider .carousel-indicators button {
    width: 10px;
    height: 10px;
    background-color: #dc3545;
    border-radius: 100%;
  }
  .testimonial-slider {
    padding: 10px 0px 40px;
  }